    </div>
    <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->

        <!-- START PRELOADS -->
        <audio id="audio-alert" src="/static/audio/alert.mp3" preload="auto"></audio>
        <audio id="audio-fail" src="/static/audio/fail.mp3" preload="auto"></audio>
        <!-- END PRELOADS -->
        
    <!-- START SCRIPTS -->
        <!-- START PLUGINS -->
        <script type="text/javascript" src="/static/js/plugins/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/bootstrap/bootstrap.min.js"></script>
        <!-- END PLUGINS -->

        <!-- THIS PAGE PLUGINS -->
        <script type="text/javascript" src="/static/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/bootstrap/bootstrap-select.js"></script>
        <script type="text/javascript" src="/static/js/plugins/bootstrap/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="/static/js/plugins/bootstrap/bootstrap-timepicker.min.js"></script>
        <!-- END PAGE PLUGINS -->

        <!-- START TEMPLATE -->
        <script type="text/javascript" src="/static/js/plugins.js"></script>
        <script type="text/javascript" src="/static/js/actions.js"></script>
        <!-- END TEMPLATE -->
        <script type="text/javascript">
        $('#btn_logout').click(function(){
            document.location.href='?r=user/logout';
        });
        </script>
    <!-- END SCRIPTS -->
    </body>
</html>
